* {
    box-sizing: border-box;
}

body {
    background: url("../img/back.jpeg");
    background-size: contain;
    background-color: rgb(185, 232, 250);
    /* padding: 2rem; */
}

.tablerow {
    background-color: gainsboro;
    font-size: 2rem;

}

.tabler {
    width: 1300px;
}

.container1 {
    align-self: center;
}

.mark {
    width: 1100px;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(0, 58, 218);
    align-self: center;
    color: white;
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {
    .mark {
        width: 300px;
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: rgb(0, 58, 218);
        align-self: center;
        overflow-x: hidden;
        color: white;
    }
}

.btn1 {
    height: 4rem;
    width: 200px;
    font-size: 2rem;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.jumbo1 {
    padding: 2rem;
    height: 540px;
    border-radius: 2%;
}

/* Cards CSS */
::selection {
    color: #fff;
    background: #1cc7d0;
}

.wrapper {
    height: 600px;
    width: 600px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: float 6s ease-in-out infinite;
    padding-bottom: 70px;
    margin: 4rem;
    padding: 1.5rem;
    border-radius: 10%;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: perspective(1000px) translatey(0px) translateZ(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: perspective(1000px) translatey(-10px) translateZ(-50px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: perspective(1000px) translatey(0px) translateZ(0px);
    }
}

.wrapper .card {
    position: absolute;
    height: 550px;
    width: 600px;
    padding: 5px;
    background: white;
    border-radius: 10%;
    transform: translateY(0deg);
    backface-visibility: hidden;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    padding: 1 rem;
}

.wrapper .front-face img {
    width: 100%;
    height: 100% !important;
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
    background-color: white;
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
    position: absolute;
}

.wrapper .back-face img {
    height: 400px;
    width: 300px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
    text-align: center;
    background-color: white;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
    background-color: white;
}

.back-face .info .title1 {
    font-size: 15px;
    font-weight: 300;
    background-color: white;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    line-height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
}

.cont1 {
    background-image: url("photos/bg1.jpg");
}





/* Footer CSS */
.add {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    margin: 0;
}

.span {
    color: #ffdb58;
    font-size: 24px;
}

#button-addon1 {
    color: #ffc371;
}

i {
    color: #ffc371;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.foot {
    padding-left: 0;
    padding-top: 50px;
}