* {
    box-sizing: border-box;
}

body {
    background: url("../img/back.jpeg");
    background-size: cover;
    background-color: rgb(185, 232, 250);
    padding: 2rem;
}

.tablerow {
    background-color: gainsboro;
    font-size: 2rem;

}

.tabler {
    width: 1300px;
}

.container1 {
    align-self: center;
}

.mark {
    width: 1100px;
    height: 4rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(0, 58, 218);
    align-self: center;
    color: white;
    overflow-x: hidden;
}

@media screen and (max-width: 480px) {
    .mark {
        width: 300px;
        height: 4rem;
        font-size: 2rem;
        font-weight: bold;
        background-color: rgb(0, 58, 218);
        align-self: center;
        overflow-x: hidden;
        color: white;
    }
}

.btn1 {
    height: 4rem;
    width: 200px;
    font-size: 2rem;
    background-color: blue;
    color: white;
    font-weight: bold;
}

.jumbo1 {
    padding: 2rem;
    height: 540px;
    border-radius: 2%;
}